<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="{% static 'assets/images/logo.ico' %}" type="image/x-icon"/>
    <title>Login - health.ai</title>

    <!-- ========== All CSS files linkup ========= -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/lineicons.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/materialdesignicons.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/fullcalendar.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}"/>
</head>
<body>
<!-- ======== Preloader =========== -->
<div id="preloader">
    <div class="spinner"></div>
</div>
<!-- ======== Preloader =========== -->

<!-- ======== main-wrapper start =========== -->
<main>
    <!-- ========== header start ========== -->
    <header class="header">
        <div class="container-fluid">
            <div class="col-lg-5 col-md-5 col-6">
                    <span>&nbsp; &nbsp;
                        <a href="/">
                        <img src="{% static 'assets/images/logo/logo.png' %}" class="img" height="45vh" alt="Logo">
                        </a>
                    </span>
            </div>
        </div>
    </header>
    <!-- ========== header end ========== -->

    <!-- ========== tab components start ========== -->
    <section class="tab-components">
        <div class="container-fluid">
            <!-- ========== form-elements-wrapper start ========== -->
            <div class="form-elements-wrapper">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <br>
                        <!-- input style start -->
                        <div class="card-style mb-30">
                            <div class="card-header">
                                <div class="title-wrapper pt-30">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <div class="title">
                                                <h3>Sign in to your Account</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end row -->
                                </div>
                            </div>
                            <form method="post">{% csrf_token %}
                                <div class="input-style-2">
                                    <label for="username">User Name</label>
                                    <input type="text" placeholder="User Name" id="username" name="username" required
                                            {% if form.username.value %} value="{{ form.username.value }}" {% endif %}/>
                                    <span class="icon"> <i class="lni lni-user"></i> </span>
                                </div>
                                <!-- end input -->
                                <div class="input-style-2">
                                    <label for="password">Password</label>
                                    <input type="password" placeholder="Password" id="password" name="password"
                                           required/>
                                    <span class="icon"> <i class="lni lni-key"></i> </span>
                                </div>
                                <div class="d-flex gap-2 justify-content-between">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" name="rememberMe"
                                               id="rememberMe">
                                        <label class="form-check-label" for="rememberMe">
                                            Keep me logged in
                                        </label>
                                    </div>
                                    <a href="#!" class="text-decoration-none">Forgot password?</a>
                                </div>
                                {% if invalid_data %}
                                    <div class="d-flex gap-2 justify-content-between">
                                        <div class="alert">
                                            <p class="text-medium" style="color: #D50100">Invalid Username or
                                                Password</p>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="col-12">
                                    <div class="d-grid my-3">
                                        <input class="main-btn light-btn btn-hover" type="submit" value="Log In">
                                    </div>
                                </div>
                            </form>
                            <div class="singin-option pt-40">
                                <p class="text-sm text-medium text-center text-gray">
                                    Easy Sign In With
                                </p>
                                <div class="button-group pt-40 pb-40 d-flex justify-content-center flex-wrap">
                                    <button class="main-btn primary-btn-outline m-2">
                                        <i class="lni lni-facebook-fill mr-10"></i>
                                        Facebook
                                    </button>
                                    <button class="main-btn danger-btn-outline m-2">
                                        <i class="lni lni-google mr-10"></i>
                                        Google
                                    </button>
                                </div>
                                <p class="text-sm text-medium text-dark text-center">
                                    Don’t have any account yet?
                                    <a href="/accounts/signup/">Create an account</a>
                                </p>
                            </div>
                            <!-- end input -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- ========== form-elements-wrapper end ========== -->
        </div>
        <!-- end container -->
    </section>
    <!-- ========== tab components end ========== -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="container d-md-flex py-4">
                    <div class="me-md-auto text-center text-md-start">
                        <div class="copyright">
                            &copy; Copyright <strong><span>health.ai</span></strong>. All Rights Reserved
                        </div>
                    </div>
                    <!-- end col-->
                    <div class="col-md-6">
                        <div class="terms d-flex justify-content-center justify-content-md-end">
                            <a href="#0" class="text-sm">Term & Conditions</a>
                            <a href="#0" class="text-sm ml-15">Privacy & Policy</a>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
        </div>
        <!-- end container -->
    </footer>
    <!-- End Footer -->
</main>
<!-- ======== main-wrapper end =========== -->

<!-- ========= All Javascript files linkup ======== -->
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/Chart.min.js' %}"></script>
<script src="{% static 'assets/js/dynamic-pie-chart.js' %}"></script>
<script src="{% static 'assets/js/moment.min.js' %}"></script>
<script src="{% static 'assets/js/fullcalendar.js' %}"></script>
<script src="{% static 'assets/js/jvectormap.min.js' %}"></script>
<script src="{% static 'assets/js/world-merc.js' %}"></script>
<script src="{% static 'assets/js/polyfill.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>
